<div class="container-fluid">
  <h1>Edit Product</h1>
  <a class="btn-primary" routerLink="/products">Cancel</a>

  <div>
    <form [formGroup]="editForm">
      <button (click)="reset()" class="reset">Reset</button>

      <div class="errors">
        <p *ngFor="let error of errors">
          {{ error }}
        </p>
      </div>

      <div>
        <label for="upc">UPC</label>
        <input type="number" formControlName="upc" required minlength="12">

        <p *ngIf="editForm.controls['upc'].errors && !editForm.controls['upc'].pristine" class="text-error">
          Please enter the 12-digit UPC code.
        </p>
      </div>

      <div>
        <label for="dept">Department</label>
        <select name="dept" formControlName="dept">
          <option *ngFor="let option of deptList" [value]="option"> {{option | titlecase}}
          </option>
        </select>

        <p *ngIf="editForm.controls['dept'].errors && !editForm.controls['dept'].pristine" class="text-error">
          Please select the department.
        </p>
      </div>

      <div>
        <label for="category">Category</label>
        <select name="category" formControlName="category">
          <option *ngFor="let option of catList" [value]="option"> {{option | titlecase}}
          </option>
        </select>

        <p *ngIf="editForm.controls['category'].errors && !editForm.controls['category'].pristine" class="text-error">
          Please select the category.
        </p>
      </div>

      <div>
        <label for="brand">Brand</label>
        <input type="text" formControlName="brand" required>

        <p *ngIf="editForm.controls['brand'].errors && !editForm.controls['brand'].pristine" class="text-error">
          Please enter the brand name.
        </p>
      </div>

      <div>
        <label for="desc">Item</label>
        <input type="text" formControlName="desc" required>

        <p *ngIf="editForm.controls['desc'].errors && !editForm.controls['desc'].pristine" class="text-error">
          Please enter the name or a brief description of the item.
        </p>
      </div>

      <div>
        <label for="cost">Cost</label>
        <input type="number" formControlName="cost" required min="0" step=".01">

        <p *ngIf="editForm.controls['cost'].errors && !editForm.controls['cost'].pristine" class="text-error">
          Please enter the cost for this item.
        </p>
      </div>

      <div>
        <label for="price">Price</label>
        <input type="number" formControlName="price" required min="0" step=".01">

        <p *ngIf="editForm.controls['price'].errors && !editForm.controls['price'].pristine" class="text-error">
          Please enter the selling price of this item.
        </p>
      </div>

      <div>
        <label for="suggestedRetail">Suggested Retail Price</label>
        <input type="number" formControlName="suggestedRetail" min="0" step=".01">
      </div>

      <div>
        <label for="color">color</label>
        <input type="text" formControlName="color">
      </div>

      <div>
        <label for="style">Style</label>
        <input type="text" formControlName="style">
      </div>

      <div>
        <label for="size">Size</label>
        <input type="text" formControlName="size">
      </div>

      <div>
        <label for="qty">Quantity</label>
        <input type="number" formControlName="qty" required min="0">
      </div>

      <div>
        <label for="image">Upload Image</label>
        <input type="text" formControlName="image">
      </div>

      <button [disabled]=!editForm.valid (click)="onSubmit(product)">Save</button>
    </form>

    <div class="visual-display">
      <img *ngIf="!product.image" src="/assets/images/no-image.jpg" alt="no image">
      <img *ngIf="product.image" src="{{product.image}}" alt="{{product.item}}">
      <button *ngIf="product.qty > 0" class="btn-primary" disabled>Remove Item</button>
      <button *ngIf="!product.qty" class="btn-primary btn-delete" (click)="onDelete(product._id)">Remove Item</button>
    </div>
  </div>
</div>