h1 {
  display: inline-block;
  width: 50%;
}
.btn-primary {
  display: inline-block;
  margin: 0 10px;
}
form button {
  margin: 0 auto;
}
.visual-display {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin: 5% 0 0 5%;
}
img {
  display: block;
  width: 50%;
  margin: 0 auto;
  /* vertical-align: top; */
  padding: 20px;
  border: 0.5px dotted #343a5c;
  border-radius: 10px;
}
.visual-display button {
  display: block;
  margin: 10px auto;
}
form .reset {
  background-color: #ced1e3;
  color: black;
  border: 1px solid #343a5c;
  margin: 0 0 15px 0;
}
@media screen and (max-width: 700px) {
  .reset {
    float: right;
  }
}
.btn-delete {
  display: block;
  margin: 10px auto;
  width: fit-content;
  padding: 7px;
  border-radius: 10px;
  font-size: 1em;
  background-color: buttonface;
  border: 2px solid #990000;
  color: #990000;
  font-weight: bold;
  box-shadow: 2px 2px 2px #808080;
  text-decoration: none;
  cursor: pointer;
}
