<div class="container-fluid">
  <h1>Edit Product</h1>
  <a class="btn-primary" routerLink="/products">Cancel</a>

  <div>
    <form #chgprod='ngForm'>

      <div class="errors">
        <p *ngFor="let error of errors">
          {{ error }}
        </p>
      </div>

      <label for="upc">UPC</label>
      <input type="number" name="upc" required minlength="12" [(ngModel)]="product.upc" #upc="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
      <p *ngIf="upc.invalid && (upc.dirty || upc.touched)" class="text-error">
        Please enter the 12-digit UPC code.
      </p>

      <label for="dept">Department</label>
      <select name="dept" required [(ngModel)]="product.dept" #dept="ngModel">
        <option value="not_selected" selected>Select department</option>
        <option value="ammunition">Ammunition</option>
        <option value="archery">Archery</option>
        <option value="firearms">Firearms</option>
        <option value="hunting">Hunting</option>
        <option value="license">License</option>
        <option value="marine">Marine</option>
        <option value="nc tags">NC Tags</option>
        <option value="sporting goods">Sporting Goods</option>
      </select>
      <p *ngIf="(dept.invalid || dept.value === 'not_selected') && (dept.dirty || dept.touched)" class="text-error">
        Please select the department.
      </p>

      <label for="category">Category</label>
      <select name="category" required [(ngModel)]="product.category" #category="ngModel">
        <option value="accessories">Accessories</option>
        <option value="apparel">Apparel</option>
        <option value="boats">Boats</option>
        <option value="footwear">Footwear</option>
        <option value="labor">Labor</option>
        <option value="optics">Optics</option>
        <option value="outboard motors">Outboard Motors</option>
        <option value="parts">Parts</option>
        <option value="pistols">Pistols</option>
        <option value="rifles">Rifles</option>
        <option value="skiwear">Skiwear</option>
        <option value="trailers">Trailers</option>
      </select>
      <p *ngIf="category.invalid && (category.dirty || category.touched)" class="text-error">
        Please select the category.
      </p>

      <label for="brand">Brand</label>
      <input type="text" name="brand" required minlength="4" [(ngModel)]="product.brand" #brand="ngModel">
      <p *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="text-error">
        Please enter the brand name.
      </p>

      <label for="desc">Item Description</label>
      <input type="text" name="desc" required minlength="2" [(ngModel)]="product.desc" #desc="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
      <p *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="text-error">
        Please enter the name or a brief description of the item.
      </p>

      <label for="cost">Cost</label>
      <input type="number" name="cost" step="0.01" required [(ngModel)]="product.cost" #cost="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
      <p *ngIf="cost.invalid && (cost.dirty || cost.touched)" class="text-error">
        Please enter the cost for this item.
      </p>

      <label for="price">Price</label>
      <input type="number" name="price" required step=".01" [(ngModel)]="product.price" #price="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
      <p *ngIf="price.invalid && (price.dirty || price.touched)" class="text-error">
        Please enter the selling price of this item.
      </p>

      <label for="suggestedRetail">Suggested Retail Price</label>
      <input type="number" name="suggestedRetail" step="0.01" required [(ngModel)]="product.suggestedRetail" #suggestedretail="ngModel"
        [ngModelOptions]="{updateOn: 'blur'}">

      <label for="color">Color</label>
      <input type="text" name="color" required [(ngModel)]="product.color" #color="ngModel">

      <label for="style">Style</label>
      <select name="style" required [(ngModel)]="product.style" #style="ngModel">
        <option value="not_selected">Select style</option>
        <option value="boatshoes">Boatshoes</option>
        <option value="boots">Boots</option>
        <option value="mules">Clogs & Mules</option>
        <option value="loafers">Loafers</option>
        <option value="oxfords">Oxfords</option>
        <option value="sandals">Sandals</option>
        <option value="pumps">Pumps</option>
        <option value="sneakers">Sneakers & Athletic</option>
        <option value="wedges">Wedges</option>
      </select>

      <label for="size">Size</label>
      <input type="text" name="size" [(ngModel)]="product.size" #size="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <label for="qty">Quantity</label>
      <input type="number" name="qty" required min="0" [(ngModel)]="product.qty" #qty="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
      <p *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="text-error">
        Please enter the quantity on hand for this item.
      </p>

      <label for="image">Image URL</label>
      <input type="text" name="image" [(ngModel)]="product.image" #image="ngModel">

      <button type="submit" *ngIf="!chgprod.valid || (dept.value === 'not_selected' || style.value === 'not_selected')" disabled>Save</button>
      <button (click)="onSubmit(product)" type="submit" *ngIf="chgprod.valid && (dept.value !== 'not_selected' && style.value !== 'not_selected')">Save</button>
    </form>

    <div class="visual-display">
      <img *ngIf="!product.image" src="/assets/images/no-image.jpg" alt="no image">
      <img *ngIf="product.image" src="{{product.image}}" alt="{{product.item}}">
      <button *ngIf="product.qty > 0" class="btn-primary" disabled>Remove Item</button>
      <button *ngIf="!product.qty" class="btn-primary" (click)="onDelete(product._id)">Remove Item</button>
    </div>
  </div>
</div>