/* You can add global styles to this file, and also import other style files */
.container-fluid {
  padding: 0 15px;
}
.container-fluid.footer {
  padding: 0 10px;
}
footer {
  display: inline-block;
}
img.footer-logo {
  width: 3%;
  margin-right: 5px;
}
form {
  display: inline-block;
  width: 55%;
  padding: 20px;
  box-shadow: 3px 3px 3px 3px #808080;
  margin-bottom: 15px;
}
fieldset {
  border: 1px dotted #373e62 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}
legend {
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  color: #373e62;
  font-style: italic;
  font-size: 14pt;
}
input,
select {
  margin: 5px 0px;
  font-style: italic;
  font-weight: bold;
  color: #373e62;
  width: 65%;
  padding: 5px;
}
select {
  width: 67%;
}
form label {
  text-align: left;
  margin-right: 5px;
  width: 25%;
  display: inline-block;
}
@media screen and (max-width: 700px) {
  form label {
    display: block;
  }
}
button,
.btn-primary {
  padding: 10px;
  background-color: #343a5c;
  border-color: #343a5c;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px #808080;
  display: block;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
}
button:disabled {
  background-color: #808080;
  color: whitesmoke;
  border: none;
  font-weight: inherit;
  opacity: 0.4;
  margin: 0 auto;
  cursor: default;
}
.text-error {
  color: red;
  font-weight: bold;
  width: 65%;
  margin: 0 0 0 30%;
}
