h1 {
  display: inline-block;
  width: 50%;
}
.btn-primary {
  display: inline-block;
}
button {
  margin: 0 auto;
}
.reset {
  background-color: #ced1e3;
  color: black;
  border: 1px solid #343a5c;
  margin: 0 0 15px 0;
}
@media screen and (max-width: 700px) {
  .reset {
    float: right;
  }
}
